.options {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding-top: 1em;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  background: #efefef;
}

.btn {
  background: #fff;
  border: 1px solid #000;
}

@media print
{
  .options, .options *
  {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .options {
    flex-direction: row;
    justify-content: space-between;
  }
  .btn {
    padding: 10px;
    height: 5em;
    margin-left: 1em;
    margin-right: 1em;
  }
}
